section#hero {
    height: 120vh;
    background: url("https://images.unsplash.com/photo-1555852441-ca0d327da1e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    position: relative;
    box-shadow: inset 100px 75px 200px #000000, inset -100px -75px -200px #000000;
  }
  
  .text-hero {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  